.btn-default {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 4rem;
    min-width: 18.8rem;
    border-radius: 200px;
    outline: none;
    border: none;
    box-shadow: none;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: -0.005em;
    padding: 0.8rem 2rem;
    background-color: $secondColor;
    color: #fff;
    transition: all .3s ease;
    opacity: 1 !important;

    & svg {
        height: 2.4rem;
        width: 2.4rem;
        flex: 0 0 auto;
        margin-left: 0.8rem;
    }

    &--icon-left  {
        & svg {
            margin-left: 0;
            margin-right: 0.8rem;
        }
    }

    &--lg {
        @media (min-width: 768px) {
            min-height: 5.6rem;
            font-size: 1.8rem;
        }
    }

    &--gradient {
        background-image: linear-gradient(90deg, #DA121A 18.19%, #0E78C0 100%);
        background-position: center;
        background-size: 150%;

        @media (min-width: 992px) {
            &:hover {
                background-position: top 50% right 0%;
            }
        }
    }

    &--border-gradient {
        color: $mainColor;
        position: relative;
        background-color: transparent;
        overflow: hidden;

        @media (min-width: 992px) {
            &:hover {
                color: #fff;
                opacity: 1;
                &:after {
                    opacity: 0;
                }
            }
        }

        &:before {
            background-image: linear-gradient(90deg, #DA121A 18.19%, #0E78C0 100%);
            background-position: center;
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        &:after {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 0.4rem);
            height: calc(100% - 0.4rem);
            z-index: -1;
            border-radius: 200px;
            background-color: #fff;
            transition: all .3s ease;
        }
    }

    &--light {
        background-color: #fff;
        color: $mainColor;

        @media (min-width: 992px) {
            &:hover {
                background-color: $secondColor;
                color: #fff;
            }
        }
    }
}

