.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    &__arrow {
        height: 2.4rem;
        width: 2.4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: $textColorSecondary;
        transition: all 0.15s ease-in-out;
        cursor: pointer;
        flex: 0 0 auto;
        border: 2px solid $textColorSecondary;

        @media (max-width: $md3+px) {
            font-size: 14px;
            height: 36px;
            width: 36px;
        }

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;
                border-color: $mainColor;
            }
        }

        &:active {
            color: $lightColor !important;
            background-color: $active !important;
        }

        & svg {
            height: 1.2rem;
            width: 0.8rem;
            transform: translateX(15%);
        }

        &.prev {
            & svg {
                transform: translateX(-15%);
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        padding-left: 0;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.5em;
        letter-spacing: -0.005em;
        color: $textColorSecondary;
        margin-bottom: 0;

        & > li {
            &:not(:last-child) {
                margin-right: 1.6rem;
            }
        }
    }

    &__item {
        color: inherit;

        @media (min-width: 992px) {
            &:hover:not(.active) {
                color: $mainColor;
            }
        }

        &.active {
            position: relative;
            min-height: 4rem;
            min-width: 4rem;
            color: $textColor;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0.4rem;
            border-radius: 0.8rem;
            overflow: hidden;

            &:before {
                background-image: linear-gradient(90deg, #DA121A 18.19%, #0E78C0 100%);
                background-position: center;
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
            }
    
            &:after {
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 1px);
                height: calc(100% - 1px);
                z-index: -1;
                border-radius: 0.8rem;
                background-color: #fff;
                transition: all .3s ease;
            }
        }
    }
}
