.gallery {
   
    &__title {
        margin-bottom: 2.4rem;

        @media (max-width: $md3+px) {
            margin-bottom: 16px;
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__nav-wrap {
        margin-bottom: 4rem;
        position: relative;
        

        @media (max-width: $md3+px) {
            margin-bottom: 16px;
        }
    }

    &__nav-inner {
        

    }

    &__nav {

    }

    &__nav-item {

    }

    &__body {
    }

    &__slider {
        @media (max-width: $md3+px) {
            margin-left: -16px;
            margin-right: -16px;
            width: auto;
            padding: 0 16px;
        }
        & .swiper-slide {
            @media (max-width: $md3+px) {
                width: auto;
            }
        }
    }

    &__img {
        display: block;
        height: 0;
        padding-bottom: 78.24%;

        @media (max-width: $md3+px) {
            width: 308px;
        }

        & iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }

    &--videos {
        & .gallery__img {
            padding-bottom: 62.33%;
        }
    }
}
