.select {
	&__item {
		position: relative;
	}
	// .select__title
	&__title {
		cursor: pointer;
	}
	// .select__value
	&__value {
		padding: 0.8rem 4rem 0.8rem 2.4rem;
		min-height: 4rem;
		border: 1px solid #848484;
		border-radius: 100px;
		display: flex;
		align-items: center;

		span {
			font-weight: 500;
			font-size: 1.2rem;
			line-height: 1.33em;
			letter-spacing: -0.005em;
			font-family: $mainFontFamily;
			color: $textColorSecondary;
		}

		&:before {
			position: absolute;
			content: "";
			transition: all 0.3s ease 0s;
			top: 50%;
			right: 2.4rem;
			transform: translateY(-50%);
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMSAxTDYgNkwxIDEiIHN0cm9rZT0iIzg0ODQ4NCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 1.2rem;
			height: 0.7rem;
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		display: none;
		position: absolute;
		top: calc(100% + 3px);
		min-width: 100%;
		left: 0;
		background-color: #fff;
		max-height: 315px;
		overflow-y: auto;
		padding-top: 4px;
		padding-bottom: 4px;
		border: 1px solid $borderColor;
	}
	// .select__option
	&__option {
		cursor: pointer;
		font-weight: 400;
		font-size: 1.2rem;
		line-height: 1.2em;
		display: flex;
		align-items: center;
		min-height: 3rem;
		transition: all 0.3s ease;
		padding: 0.8rem 1.4rem;

		@media (min-width: 992px) {
			&:hover {
				color: $hover;
				background: $bgSecondary;
			}
		}
	}
	&._active {
		z-index: 5;
		.select__value {
			&:before {
				transform: translateY(-50%) scale(1, -1);
			}
		}
		.select__options {
			display: block;
		}
	}
}
